// ---Import all the things!---
//    Pay attention to how you order your Sass files.
//    Variables & Utilities (mixins) should almost always come before Vendor & Partial files.

// --Plugins for Bourbon, Neat, and Normalize

@import '0-plugins/plugins-dir';
@import '1-custom/wvpt-variables';
@import '1-custom/wvpt-nav';
@import '1-custom/wvpt-responsive-nav';
@import '1-custom/wvpt-buttons';
@import '1-custom/wvpt-header';
@import '1-custom/wvpt-search';
@import '1-custom/wvpt-breadcrumbs';
@import '1-custom/wvpt-footer';
@import '1-custom/wvpt-backpage';
@import '1-custom/wvpt-blog';
@import '1-custom/wvpt-profile';

html, body {
  padding:0;
  margin:0;
}

body {
  border-top: .5em solid $wvpt-blue;
  background-color:$wvpt-white;
}

.container,
main {
  @include outer-container;
  float:none;
  width:auto;
  margin-top:1em;
  font-family:'Lato', sans-serif;
}


// coming soon page information
.frontpage_header {
  margin-top: 7em;

  .frontpage_logo {
    background-image: url('../images/WVPT-logo.png');
    height: 217px;
    margin: auto;
    width: 300px;
  }
}

.placeholder {
    text-align:center;
}

// google search appliance
.gsc-control-cse {
  width:400px !important;
}

td.gsc-search-button {
  height:25px !important;
}

input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
  background-color: $wvpt-blue;
  background-image: url('../images/search-icon.png') !important;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 20px;
  height:25px !important;
}

//featured image and description

.featured_image {
  @include span-columns(12);
  @include omega;
  @include media($xsmall) {
    padding:0 1em;
  }
  @include media($medium) {
    margin-top:-2em;
  }
  img {
    width:100%;
  }
}

.featured_description {
  @include span-columns(12);
  @include omega;
  margin-bottom:2em;
  border-bottom:1px solid $wvpt-lightgrey;
  font-family:'Libre Baskerville', serif;
  line-height:2.2em;
  h1 {
    font-family:'Playfair Display', serif;
    font-weight:900;
    color:$wvpt-purple;
  }
  @include media($xsmall) {
    padding:0 1em;
  }
  @include media($medium) {
    padding:0 0 2em 0;
  }
  p {
    font-family:'Libre Baskerville', serif;
    line-height:2.2em;
  }
}

// two columns on homepage

.main_column_1,
.main_column_2 {
  font-family:'Lato', sans-serif;
  line-height:2em;
  img {
    width:100%;
  }
  @include media($xsmall) {
    padding:0 1em;
  }
  h4 {
    font-family:'Playfair Display', serif;
    color:$wvpt-red;
    font-weight:900;
    font-size:1.5em;
    margin:10px 0;
  }
}

.main_column_1 {
  @include media($medium) {
    @include span-columns(7);
    padding:0 0 2em 0;
  }
}
.main_column_2 {
  @include media($medium) {
    @include span-columns(5);
    padding:0 0 2em 0;
  }
}

// partnerships

.partnerships {
  background-color: $wvpt-lightgrey;
  padding: 2.5em 0;
  .h3 {
    font-family:'Playfair Display', serif;
  }

  .partner-logos {
    @include outer-container;
    margin: auto;
    text-align: center;
  }
}

// homepage_smaller_image

.featured_area_small {
  border-bottom:1px solid $wvpt-lightgrey;
  margin-bottom:2em;
  @include media($medium) {
    @include span-columns(12);
  }
}

.featured_image_small {
  @include media($xsmall) {
    padding:0 1em;
  }
  @include media($medium) {
    @include span-columns(8);
    padding:0;
  }
  img {
    width:100%;
  }
}

.featured_description_small {
  font-family:'Libre Baskerville', serif;
  line-height:2em;
  @include media($medium) {
    @include span-columns(4);
  }
  h1 {
    font-family:'Playfair Display', serif;
    font-weight:900;
    color:$wvpt-purple;
    margin-top:0;
  }
  @include media($xsmall) {
    padding:0 1em;
  }
  @include media($medium) {
    padding:0 0 2em 0;
  }
  p {
    font-family:'Libre Baskerville', serif;
    line-height:2.2em;
  }
}
