---
layout: default
---

<div class="wvpt_backpage container">

  <r:breadcrumbs ul_class="wvpt_breadcrumbs" />

  <r:comment><!-- NOTE: Blog articles use Schema.org's tags to structure your data & help with SEO: http://goo.gl/SKs4Qb --></r:comment>

  <article id="maincontent" class="main wvpt-article wvpt-article--individual" role="article" itemscope="" itemprop="blogPost" itemtype="http://schema.org/BlogPosting">
    <h1 class="wvpt-article__title" itemprop="headline"><r:page:name /></h1>
    <p class="wvpt-article__meta">
      <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
        <span class="wvpt-article__author" itemprop="name">
          <r:article:author_first_name />
        </span> <!-- /.wvpt-article__author -->
      </span> <!-- /itemprop="author" -->
      | <time class="wvpt-article__date" datetime="<r:date_format format="iso8601" value="{article:published_at}" />"><r:date_format format="%A, %B %d, %Y" value="{article:published_at}" error_msg="Not Yet Published" /></time>
    </p> <!-- /.wvpt-article__meta -->
    <div class="wvpt-article__body" itemprop="articleBody">
      <r:editable_region name="article-body" />
    </div> <!-- /.wvpt-article__body -->
  </article> <!-- /.wvpt-article -->

  <aside class="wvpt-related-articles" role="complementary">
    <h3>Related Articles</h3>
    <r:blog:articles limit="5" tags="{article:tags}" exclude_ids="{article:id}">
      <r:if_articles>
        <ul>
          <r:each>
            <li><a href="<r:article:path />"><r:article:name /></a></li>
          </r:each>
        </ul>
      </r:if_articles>
    </r:blog:articles>

    <div class="wvpt-sub-nav">
      <h3>Archives</h3>
      <r:blog:archive:monthly ul_class="wvpt-blog-archive" count_class="wvpt-blog-archive__count" />
    </div> <!-- /.wvpt-sub-nav -->
  </aside> <!-- /.wvpt-sidebar -->

  <r:comment><!-- Need comments for Blog Articles? See https://disqus.com --></r:comment>

</div> <!-- /.wvpt-container -->

<r:partial name="layouts/social_media_footer" />
