---
layout: default
---

<a href="#" id="maincontent"></a>

<main>
  <div class="homepage">
  <div class="featured_image">
    <r:editable_region name="featured-image"/>
  </div>

  <div class="featured_description">
    <r:editable_region name="featured-description"/>
  </div>

  <div class="main_column_1">
    <r:editable_region name="coming-soon"/>
  </div>

  <div class="main_column_2">
    <r:editable_region name="buy-tickets"/>
  </div>
</div>

</main>

<r:partial name="layouts/social_media_footer" />
