---
layout: default
---

<a href="#" id="maincontent"></a>

<main>
  <div class="featured_area_small">

    <div class="featured_image_small">
      <r:editable_region name="featured-image"/>
    </div>

    <div class="featured_description_small">
      <r:editable_region name="featured-description"/>
    </div>

  </div>

  <div class="main_column_1">
    <r:editable_region name="coming-soon"/>
  </div>

  <div class="main_column_2">
    <r:editable_region name="buy-tickets"/>
  </div>

</main>
