---
layout: default
---

<div class="wvpt_backpage">

  <r:breadcrumbs ul_class="wvpt_breadcrumbs" />

  <main id="maincontent" class="main_with_sidebar">
    <h1><r:page:name /></h1>
    <ul class="wvpt-profile">
      <r:children:each>
        <li class="wvpt-profile__individual">

          <div class="wvpt-profile__individual-photo">
            <a href="<r:page:url />">
              <r:page:content name="wvpt-profile__photo" />
            </a>
          </div> <!-- /.wvpt-profile__individual-photo -->

          <div class="wvpt-profile__individual-info">
            <h2 class="wvpt-profile__name"><a class="wvpt-profile__name-link" href="<r:page:url />"><r:page:content name="wvpt-profile__name" /></a></h2>
            <h3 class="wvpt-profile__job-title wvpt-h5"><r:page:content name="wvpt-profile__job-title" /></h3>
            <p class="wvpt-profile__phone-icon"><a class="wvpt-profile__phone" href="tel:<r:page:content name="wvpt-profile__phone" />"><r:page:content name="wvpt-profile__phone" /></a></p>
            <p class="wvpt-profile__email"><r:page:content name="wvpt-profile__email" /></p>
            <p class="wvpt-profile__short-description"><r:page:content name="wvpt-profile__short-description" /></p>
            <p class="wvpt-profile__button"><a class="button" href="<r:page:url />">Read Full Bio</a></p>
          </div> <!-- /.wvpt-profile__individual-info -->

        </li> <!-- /.wvpt-profile__individual -->
      </r:children:each>
    </ul>


  </main>

  <aside class="wvpt-profile-sidebar">
    <div class="wvpt-sub-nav">
      <r:ancestor_menu start_depth="2" max_depth="3" ul_class="nav-secondary" active_class="nav-secondary--current-page" open_class="nav-secondary--open" />
    </div> <!-- /.wvpt-sub-nav -->
    <r:editable_region name="sidebar" />
  </aside>

</div> <!-- /.wvpt-container -->
