---
layout: default
---

<div class="wvpt_backpage">

  <r:breadcrumbs ul_class="wvpt_breadcrumbs" />

  <main id="maincontent" class="main_with_sidebar">

    <h1 class="wvpt-profile__name">
      <r:editable_region name="wvpt-profile__name" type="simple">
        <r:page:name/>
      </r:editable_region>
    </h1>

    <div class="wvpt-profile__meta-info">
      <h2 class="wvpt-profile__job-title wvpt-h5">
       <r:editable_region name="wvpt-profile__job-title" type="simple">
         Enter the person's job title or whatever subhead should go under their name.
       </r:editable_region>
      </h2>
    </div> <!-- /.wvpt-profile__meta-info -->

    <p>
      <r:editable_region name="wvpt-profile__short-description" type="simple">
        Enter a brief description of the person. This will be pulled into the profile index page(s). Only enter a sentence or two in this region.
      </r:editable_region>
    </p>

    <r:editable_region name="main">
      <p>Enter the extended description here.</p>
    </r:editable_region>

  </main><!-- /.main -->

  <aside class="wvpt-profile-sidebar">
    <div class="wvpt-profile__photo">
      <r:editable_region name="wvpt-profile__photo">
        Add a profile photo.
      </r:editable_region>
    </div> <!-- /.wvpt-profile__photo -->
    <div class="wvpt-profile__meta-info">
      <p class="wvpt-profile__phone-icon">
       <r:editable_region name="wvpt-profile__phone" type="simple">
         Enter the person's phone number.
       </r:editable_region>
      </p>
      <p class="wvpt-profile__email">
       <r:editable_region name="wvpt-profile__email">
         Enter the person's email address and link it via "Standard Links" option in the Insert Link modal.
       </r:editable_region>
      </p>
    </div> <!-- /.wvpt-profile__meta-info -->
    <div class="wvpt-sub-nav">
      <r:ancestor_menu start_depth="2" max_depth="3" ul_class="nav-secondary" active_class="nav-secondary--current-page" open_class="nav-secondary--open" />
    </div> <!-- /.wvpt-sub-nav -->
    <r:editable_region name="sidebar" />
  </aside>

</div> <!-- /.wvpt-container -->
