//backpage

.wvpt_backpage {
  @include outer-container;
  border-top: 1px solid $wvpt-lightgrey;
  margin-top: 2em;

  @include media($xsmall) {
    padding:0 1em;
  }

  @include media($medium) {
    padding:0;
  }

  img {
    @include media($xsmall) {
      margin-top:0 !important;
    }
  }

}

main {
  padding-bottom: 5em;
  padding-top: 2em;
  @include media($medium) {
    @include span-columns(11);
  }
  p {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
  }
}

.social_media {
  @include span-columns(12);
  border-top: 1px solid $wvpt-lightgrey;
  margin: auto;
  padding: 2em 1em;
  text-align: center;
}


//backpage with sidebar

.wvpt-sidebar {
  @include span-columns(12);
  @include media($medium) {
      @include span-columns(3);
      padding-bottom: 5em;
  }
}


.main_with_sidebar {
  @include span-columns(12);
  padding-bottom: 5em;
  padding-top:0;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  line-height:2em;

  @include media($medium) {
      @include span-columns(9);
  }

}


//subnav styles

.nav-secondary {
  list-style-type: none;
  padding-left: 0;

  li {
    padding-bottom: .75em;

    a {
      color: $wvpt-purple;
      font-family: 'Lato', sans-serif;
      font-size: 1em;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        color: $wvpt-blue;
      }
    }
  }
}


// backpage two column

.main_backpage_2 {
  padding-bottom:1.5em;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  line-height:2em;
}

.backpage_column {
  p {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    line-height:2em;
  }
  @include media($medium) {
    @include span-columns(6);
    margin-bottom:3em;
  }
}


//backpage three column

.backpage_column3 {
  p {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    line-height:2em;
  }
  @include media($medium) {
    @include span-columns(4);
    margin-bottom:3em;
  }
}
